* {margin:0;
padding: 0;
box-sizing: border-box;}

h1 {
    font-family: cursive;
    font-weight:bold;
    font-size: 200%;
    color: rgb(11, 0, 2);
    text-align: center;
    color: azure;
    
}

.header {
    background: linear-gradient(135deg, #252424 50%, rgb(3, 63, 63) 50%);
    height: 400%;
    width: auto;
    padding: 2%;
}

.contents{
    display: flex;
    margin-top: 10px;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 2px;
    
}
.contents img{
    width:30%;
    height:auto;
    margin: 8px 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    
}
.footer{
    background-color: teal;
    padding: 25px;
    color: whitesmoke;
}
.footer p{
    font-size: 140%;
}
.footer a, img{ 
    width: 5%;
    text-decoration: none;
    color: whitesmoke;
    margin:  20px 0 2px;
    
}
 